<div class="bg-dark nav-bar">

    <div class="logo">

        <img src="../../assets/github.svg" alt="github icon">

        <p>GitHub<span>Search</span></p>

    </div>

    <div class="nav">

        <ul>
            <li routerLink="devjamesnjoroge" routerLinkActive="active"><a>Home</a></li>

            <li><a routerLink="search" routerLinkActive="active">Search</a></li>

            <li><a routerLink="search-repository" routerLinkActive="active">Search repositories</a></li>
        </ul>

    </div>

</div>