<div class="container d-flex align-items-center justify-content-center mt-5 flex-column">

    <div class="profile">
        <p><strong>Github name:</strong> {{profile}}</p>
        <p><strong>Github username:</strong> {{username}}</p>
    </div>


    <table class="bg-light">
        <tr>
            <th>Repository name</th>
            <th>Repository url</th>
        </tr>
        <tr *ngFor="let repo of repos">
            <td>{{repo.name}}</td>
            <td>
                <a [href]="repo.html_url" target="_blank">
                    <p [outerText]="repo.html_url"></p>
                </a>
            </td>
        </tr>
    </table>
</div>