<nav class="navbar navbar-expand-sm bg-dark">

    <div class="container-fluid ps-5 pe-5">

        <div class="logo"><img src="../../assets/github.svg" alt="github icon"></div>

        <form class="search"><input #search type="search" name="search" id="search" placeholder="search github username" class="ps-3"> <button class="bg-transparent"><img src="../../assets/search.svg" alt="search icon"></button></form>

        <!-- Links -->
        <div class="myprofile rounded-circle " routerLink="devjamesnjoroge"></div>

    </div>

</nav>

<div class="container d-flex align-items-center justify-content-center mt-5 flex-column">

    <div class="profile">
        <p><strong>Github name:</strong> {{profile}}</p>
        <p><strong>Github username:</strong> {{username}}</p>
    </div>


    <table class="bg-light">
        <tr>
            <th>Repository name</th>
            <th>Repository url</th>
        </tr>
        <tr *ngFor="let repo of repos">
            <td>{{repo.name}}</td>
            <td>
                <a [href]="repo.html_url" target="_blank">
                    <p [outerText]="repo.html_url"></p>
                </a>
            </td>
        </tr>
    </table>
</div>