.logo,
.myprofile {
    cursor: pointer;
}

.myprofile {
    height: 40px;
    width: 40px;
    /* background: url('~../../assets/myprofile.png'); */
    background-position: center;
    background-size: cover;
}

#search,
.search button {
    transform: scale(0.8);
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th:nth-child(1),
td:nth-child(1) {
    width: 20vw;
}

th:nth-child(2),
td:nth-child(2) {
    width: 50vw;
}